*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# only the default recipe should be checked in
-/recipes/*
-!recipes/default.rb

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
